.card {
  margin-top: 50px;
  border: solid 3px #3f729b;
}

.submit-btn {
  transition: all 0.3s ease;
}

.submit-btn:hover {
  background-color: #3f729b !important;
  color: white !important;
}

.test {
  font-weight: bold;
}
